<%= render :partial => 'admin/admin_nav' %>

<div id="subMain">
<h1>Manage Pages</h1>
<div id="spinner" style="float: right; display: none;"><img src="/images/spinner.gif"></div>
<b>Category:</b> <select name="category_id" id="category_id">
		    		<%= option_groups_from_collection_for_select(Section.find(:all), :categories, :name, :id, :name) %>
		  		 </select>

<%= observe_field	:category_id,
					:before => "Element.show('spinner')",
					:complete => "Element.hide('spinner')",
					:url => {:action => 'get_pages_in_category'},
					:with => "'id=' + encodeURIComponent(value)" %>

<ol id="pages_list">
<%= render :partial => 'admin/list_pages_in_category', :object => @category %>
</ol>
</div>