<%= render :partial => 'shared/nav_categories', :object => Section.first.categories %>

<div id="subMain">
<h1>Partners</h2>
<%= render :partial => 'testimonials', :testimonials => @testimonials %>
</div>